.App {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

input {
  border: 1px #111 solid;
  border-radius: 10px;
  margin: 1rem;
  padding: .6rem;
  width: 20vw;
}

#search {
  padding: .6rem;
  border: 1px #111 solid;
  border-radius: 10px;
}